<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="ErrorLogPath" value="C:\AppLogs\EstateCommission\ErrorLogs\"/>
    <add key="MessageLogPath" value="C:\AppLogs\EstateCommission\MessageLogs\"/>
    <add key="TimeIntervalInMinutes" value="3"/>
  </appSettings>
</configuration>